* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 15em;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

input[type=color]
{
    height: 15%;
}

select {
    user-select: none;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    background-color: white;
    height: 15%;
    padding: 0 1em;
}

.get-btn {
    user-select: none;
    font-weight: 700;
    border: 1px double #D1D5DB;
    border-radius: 6px;
    background-color: white;
    height: 15%;
    padding: 0 1em;
}

main {
    width: 100vw;
}

.colors {
    display: flex;
    width: 100%;
    height: 80vh;
}
.color {
    cursor: pointer;
    width: 20%;
}
.color:hover {
    border: 10px solid white;
}

.colors-hex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4em;
}
.color-hex {
    padding: 1em 0;
    cursor: pointer;
    user-select: none;
    border-radius: 1em;
}
.color-hex:hover {
    background-color: whitesmoke;
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        height: 7em;
    }

    input[type=color] {
        width: 15%;
        height: 60%;
    }

    select {
        width: 25%;
        height: 75%;
    }

    .get-btn {
        width: 25%;
        height: 65%;
    }
}
