body {
    background-color: whitesmoke;
    font-family: 'Smythe', sans-serif;
}
p, body, h1, h2 { margin: 0; }
p { font-weight: 400; }

#container {
    width: 600px;
    margin: 0 auto;
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 170px;
    padding: 0 40px;
    margin-bottom: 40px;

    background: url('header.jpeg'), lightgray 100% / cover;
    background-repeat: no-repeat;
    background-position-y: 65%;
    background-size: cover;
    color: white;
}
h1 { font-size: 40px; }
h2 { font-size: 20px; }

main {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 100px;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.menu-item {
    display: flex;
    width: 100%;
    height: 140px;
    border-bottom: solid 2px #D2D2D2;
}
.emoji-item {
    margin-right: 20px;
    font-size: 80px;
}
.name-item {
    font-size: 28px;
}
.ingredients-item {
    color: #8B8B8B;
    font-size: 16px;
}
.price-item {
    margin-top: 10px;
    font-size: 20px;
}
.btn-item {
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    margin-left: auto;
    border: solid 2px #DEDEDE;
    background-color: white;
    color: #3C3C3C;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 32px;
}

#order {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 28px;
}
#order-title {
    text-align: center;
    padding-bottom: 10px;
}
#order-items {
    border-bottom: 5px solid #393333;
    padding-bottom: 20px;
}
.order-item {
    display: flex;
    padding-bottom: 10px;
}
.order-price { margin-left: auto; }
.btn-remove {
    border: none;
    background-color: white;
    color: #BBBBBB;
    font-family: 'Inter' sans-serif;
    font-weight: 400;
    font-size: 12px;
}
#btn-order {
    height: 60px;
    background-color: #16DB99;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Inter' sans-serif;
    font-weight: 700;
    font-size: 16px;
}

#complete {
    display: none;
    padding: 30px 0;
    margin-top: 40px;
    text-align: center;
    background-color: #ECFDF5;
    color: #065F46;
    font-size: 35px;
}

#payment {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 50px;
    width: 520px;
    height: 500px;
    border: 1px solid;
    filter: drop-shadow(5.186544418334961px 5.186544418334961px 255.43731689453125px rgba(0, 0, 0, 0.50));
}
#payment-title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
form {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}
input {
    width: 90%;
    padding: 10px;
    border: 1.5px solid #757575;
    color: #757575;
    border-radius: 3px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
#btn-payment {
    width: 90%;
    height: 50px;
    background-color: #16DB99;
    color: white;
    border: none;
    border-radius: 3px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
