* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222222;
    height: 200px;
}

header h1,
header h5 {
    border-radius: 1em;
    color: white;
    padding: 1em 2em;
}
header h5 {
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9rem;
}

header h1:hover,
header h5:hover {
    background-color: white;
    color: #222222;
}


.search-bar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.search-input,
.search-btn {
    display: block;
    height: 70%;
    padding: 0.2em 3em;
    border: 1px solid #D1D5DB;
    font-family: inherit;
    font-weight: 500;
    font-size: 0.875rem;
}

.search-input {
    position: relative;
    background: url("imgs/search-icon.svg") no-repeat scroll 10px 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.search-btn {
    background-color: #F9FAFB;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.films {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    justify-content: center;
    width: 90%;
    gap: 30px;
    margin-top: 1em;
}

.film {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 250px;
    padding-bottom: 30px;
    border-bottom: 2px solid #E5E7EB;
}

.film img {
    height: 100%;
}

.film-info h2 {
    font-weight: 500;
    font-size: 1.125rem;
}

.film-info h2 span {
    font-weight: 500;
    font-size: 0.9rem;
    color: gray;
}

.film-info button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border: 1px solid #222222;
    border-radius: 10px;
    background-color: white;
    color: #222222;
    font-weight: 500;
    font-size: 0.875rem;
}

.film-info button:hover {
    background-color: #222222;
    color: white;
}
