html, body {
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
}

#container {
    width: 375px;
    margin: auto;
    font-family: 'Source Sans 3', sans-serif;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #C6C6C6;
}

.logo {
    height: 70%;
    padding-left: 10px;
}

.avatar {
    border-radius: 100%;
    height: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

section {
    font-size: 13px;
    border-bottom: 30px solid #EDEDED;
}

.post-account {
    height: 60px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

p {
    margin: 0px;
}

span {
    display: block;
    font-weight: bold;
}

.post-img {
    width: 100%;
}

.post-interactions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
}

.btns {
    height: 30px;
}

.btn {
    height: 100%;
    padding-right: 10px;
}
